@import "tailwindcss";

.reveal-down {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.7s ease, opacity 0.7s ease;
}

.reveal-down.show {
    opacity: 1;
    clip-path: inset(0 0 0 0);
}
